body {
    background-color: darkolivegreen;
    margin: auto;
}


header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: black;
    border: 10px, solid;
    color: grey;
}
header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
}

/*.img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px, solid;
    border-radius: 8px;*/
    /*padding: 5px;*/
main {
    margin: auto;
    max-width: 500px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: auto
}

.group{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;   
    margin: auto;
    align-content: center;
    align-items: center;
}

ul li {
    list-style-position: inside;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: auto;
    align-content: center;
    align-items: center;
}

.description > h2 {
    text-align: center;
}

.contacts {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.contacts > h2 { 
    text-align: center;
}

footer{
    text-decoration: blanchedalmond;
    background-color: black;
    color: grey;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 20px;
}
